/* border-box: keeps padding and borders from being added by default */

*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;
}

/* because we've set the html font-size to 10px then each rem will equal 10px... if we have created some in pixels we can convert the px into rem easily */

html {
  // this will help to define the measure of 1rem.
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}